* {
    margin: 0;
    padding: 0;
  }

#text {
    font-style: italic;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    color:beige;
}

#base {
    background: cadetblue;
    height: 100vh;
    width: 100vw;
    align-items: right;
    justify-content: right;
    position: relative;
}